This is imag page

<% for(var x=0;x<postContent.length;x++){ %>
<div class="blogPost">

    <img src="http://localhost:3000/upload/<%=postContent[x]._id%>" alt=" <%=postContent[x]._id%>"
        class="img-responsive postImage">

    <h1>
        <%=postContent[x].name%>
    </h1>
    <p>
        <%=postContent[x].email%>
    </p>
</div>
<hr>
<%}%>

