<!-- <h1>{{title}}</h1>

{{# if sucess}}
  <section class="sucess">
      <h2>Sucessful Validation</h2>
  </section>
{{else}}
{{# if errors}}
<section class="errors">
     <ul>
         {{# each errors}}
         <li> {{this.msg}} </li>
         {{/each}}
     </ul>
</section>
{{/if}} -->

<% if (success) { %>
<section class="sucess">
  <h2>Sucessful Validation</h2>
</section>
<% }else { %>
<% if (errors) { %>

<% errors.forEach(function(user){ %>
<p class="alert alert-danger"><%= user.msg %></p>

<% }); %>
<% } %>

<form action="/upload" enctype="multipart/form-data" method="POST">
  <input type="text" name="name">
  <input type="text" name="email">
  <input type="password" name="password">
  <input type="password" name="confirmpassword">
  <input type="file" name="image" accept="image/x-png,image/gif,image/jpeg" required>
  <input type="submit">
</form>
<% } %>
